@import "normalize.css";

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  background-color: lightgrey;
}

#center-column {
  width: 400px;
  background-color: blueviolet;
  margin: 0 10 0 10;
}

#left-column, #right-column {
  display: inline-block;
  background-color: white;
}

#stream {
  background-color: aquamarine;
}
.navigation, .recommendations {
  background-color: lightskyblue;
}

.tweet {
  border: 0.5px solid black;
  padding: 10px;
}

.handle {
  font-weight: bold;
}

.timestamp {
  font-size: 0.5em;
}