@import "normalize.css";

* {
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  font-size: 19px;
  border-style: none;
  padding: 10px;
}

textarea::placeholder {
  font-size: 19px;
  color: rgb(101, 119, 134);
}

textarea:invalid {
  border: 2px solid rgb(224, 36, 94);;
}

img {
  max-width:100%;
  max-height:100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background-color: white;
}

#composer-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  padding: 0 15px 0 15px;
}

.center-column {
  width: 499px;
  margin: 0 10px 0 10px;
}

.left-column, .right-column {
  display: inline-block;
  background-color: white;
  padding: 0 20px 0 20px;
}

.tweet-wrapper {
  padding: 15px 0 15px 0;
  border-bottom: 0.5px solid rgb(230, 236, 240);
}

.tweet-wrapper:hover {
  background-color: #f5f8fa !important;
}

.tweet {
  padding: 5px 5px 5px 44px;
}

.handle {
  font-weight: bold;
}

.handle:hover {
  text-decoration: underline !important;
}

.timestamp {
  color: rgb(101, 119, 134);
}

.btn-wrapper {
  margin: 15px;
}

.btn {
  background-color: rgb(29, 161, 242);
  color: white;
  padding: 0 25px 0 25px;
  height: 50px;
  white-space: nowrap;
  font-weight: 700;
  border: none;
  box-shadow: none;
  border-radius: 25px;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: rgb(29, 140, 220) !important;
}

.btn-inverse {
  background-color: white;
  color: black;
  font-size: 19px;
}

.btn-inverse:hover {
  background-color: #bee2f9 !important;
  color: rgb(29, 161, 242) !important;
}

#root {
  border-top: 0.5px solid rgb(230, 236, 240);
}

#navigation, #recommendations {
  width: 100%;
  height: 100%;
}

#logo {
  width: 100%;
  height: 60px;
  padding: 0 20px 0 20px;
}

#stream {
  border: 0.5px solid rgb(230, 236, 240);
}

#reserved {
  /* make sure it occupies all the space not occupied by the button */
}

#flash-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #64ce83;
  border-radius: 5px;
  width: 100%;
  margin: 15px;
}

#post-tweet {
  display: flex;
}

#separator {
  height: 10px;
  background-color: rgb(230, 236, 240);
}

#compose-module {
  border: 0.5px solid rgb(230, 236, 240);
  z-index: 1;
}

#composer {
  padding: 15px;
}

#page-header {
  border-left: 0.5px solid rgb(230, 236, 240);
  border-right: 0.5px solid rgb(230, 236, 240);
  height: 53px;
  z-index: 3;
}

#page-title {
  padding: 15px;
}

#page-title > a {
  font-size: 19px;
  font-weight: 800;
}